body{
background-color:#00A0AD;
}

hr{
    background-color:#00A0AD;
}

#siteContainer{
    margin-top:10px;
    padding-top:10px;
    background-color:white;
    border-radius: 6px;

}
#footer{
   padding-bottom:5px;
}

#valErrorContainer{
    background-color:#FF0F00;
    color:#FFFFFF;
    padding:10px 10px 0px 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    border:1px solid black;

}

.btn-custom{
    background-color:#EE7F50;
    color:#FFFFFF;
    border:1px solid black;
}

.orange{
   color:#EE7F50;
}

.yellow{
    color:#EBCB53;
}

.center-text{
    text-align: center;
}

.articleForm{
    padding: 15px 10px 15px 10px;
    background-color:#FEF5CE;
    border-radius: 6px;
    border:1px solid black;
    box-shadow: 0 0 10px;
}

.mouse-clickable{
    cursor:pointer;
}

.article-title{
    color:#EED053;
    font-size:30px;

}
.article-title:hover{
    color:#9e9493!important;
    text-decoration: none!important;
}

.article-date{
    color:#F09682;
    font-size:12px;
    font-weight:bold;
}


/*DTT table-------------------------*/
.table-dtt thead{
    background-color:#EE7F50;
    color:#FFFFFF;
    border:1px solid #00A0AD!important;
}

/*disable the default bootstrap borders for the th's since they are bigger than our custom borders*/
.table-dtt thead th{
    border:none!important;
}

/*Disable the top border of all td's in the first row of the table body since they are 2px by default and wil overwrite
our custom 1px border*/
.table-dtt tbody tr:first-child td {border-top:none!important; }

/*Set the row colors for the dtt table styling for the odd and even rows using pure CSS*/
.table-dtt tbody tr:nth-child(even) {background: #FEF5CE!important;}
.table-dtt tbody tr:nth-child(odd) {background: #FFFFFF!important;}

.table-dtt{
    border-left:2px solid #00A0AD;
    border-right: 2px solid #00A0AD;
}
/*DTT table-------------------------*/