body{
background-color:#00A0AD;
}

hr{
    background-color:#00A0AD;
}

#siteContainer{
    margin-top:10px;
    padding-top:10px;
    background-color:white;
    border-radius: 6px;

}

.btn-custom{
    background-color:#EE7F50;
    color:#FFFFFF;
    border:1px solid black;
}

.orange{
   color:#EE7F50;
}

.yellow{
    color:#EBCB53;
}

.center-text{
    text-align: center;
}