body{
background-color:#00A0AD;
}

hr{
    background-color:#00A0AD;
}

#siteContainer{
    margin-top:10px;
    padding-top:10px;
    background-color:white;
    border-radius: 6px;

}
#footer{
   padding-bottom:5px;
}

.btn-custom{
    background-color:#EE7F50;
    color:#FFFFFF;
    border:1px solid black;
}

.orange{
   color:#EE7F50;
}

.yellow{
    color:#EBCB53;
}

.center-text{
    text-align: center;
}

.articleForm{
    padding: 15px 10px 15px 10px;
    background-color:#FEF5CE;
    border-radius: 6px;
    border:1px solid black;
    box-shadow: 0 0 10px;
}

.mouse-clickable{
    cursor:pointer;
}

.article-title{
    color:#EED053;
    font-size:30px;

}
.article-title:hover{
    color:#9e9493!important;
    text-decoration: none!important;
}

.article-date{
    color:#F09682;
    font-size:12px;
    font-weight:bold;
}